@page
@model JS_SnakesAndLadders.Pages.specModel
@{
    ViewData["Title"] = "Spec";
}
<hr />
<div class="row mb-4 mt-4">
    <div class="col-6">
        <img src="/images/spec1.png" class="img-fluid" alt="" style="max-height:800px" />
    </div>
    <div class="col-6 ">
        <img src="/images/spec2.png" class="img-fluid" alt="" style="max-height:800px" />
    </div>
</div>
<hr />

